params {
    threads = 4
    vep_buffer = 10000
    MAFCUTOFF = 0.01
    ASSEMBLY = "GRCh37"
    config_dir = '/home/utsu/Desktop/WES-Pipeline/config'
    fasta = '/wkdir/RefGenome/human_g1k_v37_fix.fasta'
    vep_plugin_resources = '/wkdir/config/vep/plugins'
}



process {
    withName:VEP {
        container = 'ensemblorg/ensembl-vep'
        containerOptions = '-u 0 -v /home/utsu/work/tools/ensembl-vep/vep_data:/data -v /home/utsu/Desktop/WES-Pipeline:/wkdir -v /home/utsu/resources/veps:/plugin_resources'
    }
}

docker {
    enabled = true
}