env {
    PATH = "/usr/local/genome/seqkit-0.11.0:" +
           "/usr/local/genome/samtools-1.17/bin:" +
           "/usr/local/genome/minimap2-2.23:" +
           "/betelgeuse07/analysis/utsu/bin:" +
           "$PATH"
}

process {
    withName: 'TRIM_SHORT_READS' {
        queue = 'canopus.q,deneb.q,spica.q,vega.q'
    }
    withName: 'MINIMAP2' {
        queue = 'vega.q'
    }
    withName: 'LONGSHOT' {
        queue = 'deneb.q,vega.q,spica.q,canopus.q'
    }
}

executor {
    name = 'sge'
    queueSize = 12
    pollInterval = '10 sec'
}