env {
    PATH = "/usr/local/genome/seqkit-0.11.0:" +
           "/usr/local/genome/samtools-1.15.1/bin:" +
           "/betelgeuse07/analysis/utsu/bin:" +
           "$PATH"
}

process {
    withName: 'EXTRACT_CHR' {
        queue = 'warp.q'
    }
}

executor {
    name = 'sge'
    queueSize = 12
    pollInterval = '10 sec'
}