env {
    PATH = "/usr/local/genome/bcftools-1.8/bin:" +
           "/betelgeuse07/analysis/utsu/bin:" +
           "$PATH"
}

params {
    chr_regions = '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT'

    // Downloaded file's names of population data 
    tommo54kjpn_38_auto = 'tommo-54kjpn-*-GRCh38-af-autosome.vcf.gz'
    tommo54kjpn_37_auto = 'tommo-54kjpn-*-GRCh37_lifted_from_GRCh38-af-autosome.vcf.gz'
    genome_asia = '*.annot.cont_withmaf.vcf.gz'
    rgc_me = 'rgc_me_variant_frequencies_chr*.vcf.gz'
    ncbn = 'NCBN-freeze2.sampleQC.GTfilter.freq.vcf.gz'
    gnomad_v4_1 = 'gnomad.joint.v4.1.sites.chr*.vcf.bgz'

    // For CrossMap
    chain_to37 = '/betelgeuse07/analysis/utsu/resources/crossmap_resources/hg38ToHg19.over.chain.gz'
    chain_to38 = '/betelgeuse07/analysis/utsu/resources/crossmap_resources/hg19ToHg38.over.chain.gz'
    ref_37 = '/betelgeuse07/analysis/utsu/resources/crossmap_resources/Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz'
    ref_38 = '/betelgeuse07/analysis/utsu/resources/crossmap_resources/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'

    // Run setting
    sort_max_mem = '8G'
    threads = '8'
}

executor {
    name = 'sge'
    queueSize = 12
    pollInterval = '30 sec'
}

process {
    queue = 'centauri.q,deepspace.q'

    withName: 'CROSSMAP' {
        container = 'betelgeuse:5000/library/utsu/crossmap:0.7.0'
        containerOptions = '--security-opt seccomp=unconfined'
    }
}

docker {
    enabled = true
}